.img-details {
  width: 360px;
}

.image_carousel {
  width: 180px;
}

.recommendation-card {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.individual {
  width: 50%;
}
